@media screen and (max-width: 780px) {
	body{
		background-image: url(images/bg-intro-mobile.png);
	} 
	main{
		width: 90%;
		margin: 30px auto;
		display: flex;
		flex-direction: column;
		color: white;
		text-align: center;
	}
	.right {
		width: 100%;
	}
	.left {
		width: 100%;
	}
}
@media screen and (min-width: 780px){
	body {
		background-image: url(images/bg-intro-desktop.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: white;
	}
	main {
		width: 80%;
		margin: 5% auto;
		display: flex;
		flex-direction: row;
	}
	.left {
		width: 50%;
	margin: 0px auto;
	padding: 30px;
	}
	.right {
	width: 50%;
	}
}
@font-face {
	font-family: Poppins;
	src: url(https://fonts.google.com/specimen/Poppins);
}
body {
	/*width: 100%;*/
	background-color: hsl(0, 100%, 74%);
	font-family: Poppins;
}
input {
	width: 80%;
	margin: 10px 0px;
	border: 1px solid hsl(246, 25%, 77%);
	padding: 10px;
	align-self: center;
	border-radius: 5px;
	color: hsl(246, 25%, 77%);
}
input:last-child {
	margin-bottom: 0px;
}
.right {
	text-align: center;
}
form {
	background-color: white;
	border-radius: 20px;
	padding-top: 20px;
}
.right_p {
	color: hsl(246, 25%, 77%);
	margin: 0px autp;
	padding-bottom: 20px;
	font-size: 10px;
}
.right_p>span {
	color: hsl(0, 100%, 74%);
}
input[type=submit] {
	border: 1px solid hsl(154, 59%, 51%);
	background-color: hsl(154, 59%, 51%);
	color: whitesmoke;
	padding-bottom: 10px;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.try {
	background-color: hsl(248, 32%, 49%);
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 20px;
	font-size: 15px;
}
.try>span {
	font-weight: 900;
	font-size: 20px;
}
h1{
	font-size: 50px;
}
.left_p {
	font-size: 20px;
}